/* See https://jhildenbiddle.github.io/docsify-themeable/#/customization?id=app for full list of vars to edit */
:root {
  --base-font-family: Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --heading-font-family: Arial;
  --sidebar-name-font-family: Arial;

  --theme-hue: 197;
  --theme-saturation: 100%;
  --theme-lightness: 13%;
  --theme-color: hsl(
    var(--theme-hue),
    var(--theme-saturation),
    var(--theme-lightness)
  );
  --heading-color: var(--bgs-primary-earth);

  --border-radius-s: 10px;
  --border-radius-m: 10px;
  --border-radius-l: 10px;

  --sidebar-name-font-weight: bold;
  --sidebar-nav-link-color--active: var(--bgs-primary-stone);
  --sidebar-nav-link-text-decoration--active: none;
  --sidebar-nav-link-font-weight--active: bold;
}

/* Cover page */

body > section > div.cover-main > p:nth-child(3) > a:hover {
  background: var(--bgs-primary-stone) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}

h1 {
  line-height: 1.2 !important;
}
.cover h1 {
  color: var(--theme-color);
}

.github-corner svg {
  fill: var(--bgs-primary-earth);
}

.sidebar li > p {
  font-weight: bold;
  margin: 0;
  font-size: 16px;
  color: var(--bgs-primary-earth);
}

/* section.cover {
  color: #fff;
}
section.cover h1 {
  color: #fff;
}
section.cover.show:before {
  background: var(--bgs-primary-stone);
} */
